.auth {
  h1 {
    color: red;
  }
}
.auth__wrapper {
  max-width: 90%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.auth__inner {
  min-width: 90%;
  width: 60vw;
  min-height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  h1 {
    margin: 5px auto;
    color: $primary1Color;
  }
}

.auth__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.auth__button {
  margin-top: 2rem;
}

.auth__link {
  margin: 5px;
}

.fire {
  height: 100px;
}

.auth-animate {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
