$primary1Color: #4CAF50;
$primary2Color: #388E3C;
$primary3Color: #BDBDBD;
$accent1Color: #009688;
$accent2Color: #F5F5F5;
$accent3Color: #9E9E9E;
$textColor: rgba(0, 0, 0, 0.87);
$alternateTextColor: white;
$canvasColor: white;
$borderColor: #E0E0E0;
$disabledColor: rgba(0, 0, 0, 0.54);
$pickerHeaderColor: #4CAF50;
$clockCircleColor: rgba(0, 0, 0, 0.12);
$shadowColor: rgba(0, 0, 0, 1);
