@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto'; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset; }

.auth h1 {
  color: red; }

.auth__wrapper {
  max-width: 90%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem; }

.auth__inner {
  max-width: 90%;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem; }

.auth__inner h1 {
  margin: 5px auto;
  color: #4CAF50; }

.auth__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.auth__button {
  margin-top: 2rem; }

.auth__link {
  margin: 5px; }

.auth-enter {
  opacity: 0.01; }

.auth-enter.auth-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.auth-leave {
  opacity: 1; }

.auth-leave.auth-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in; }

.container-dashboard h1 {
  color: blue; }
